body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 02px;
    padding: 0px;
    box-sizing: border-box;
    outline: red 1px dashed;
    ;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* outline: green 5px dashed; */
    /* padding: 10px; */
}

header h1 {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: normal;
    align-self: center;
    display: inline-block;
    background-color: lightblue;
    outline: orange 1px solid;
}

.logonav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4eedc;
    padding: 10px 20px 10px 20px;
    outline: blue 1px dashed;
}

.brand {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 5px;
    margin: 0;
}

nav li {
    margin: 15px;
}

nav a {
    font-size: 1rem;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

nav a:hover {
    color: red;
    /* font-size: 1rem;
    text-decoration: underline;
    padding: 0;
    margin: 0; */
}


.container {
    display: flex;
    background-color: rgb(250, 206, 234);
    /* outline: purple 5px dotted; */
    padding: 5px;
    ;
}

main {
    flex: 70%;
    padding: 10px;
    margin-top: 10px;
    /* outline: yellow dotted 5px; */
}

aside {
    flex: 30%;
    padding: 10px;
    margin-top: 10px;
    /* outline: rgb(5, 181, 250) 5px dotted; */
}

.blogcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.blogcolumns {
    width: 30%;
    text-align: center;
}

video {
    border: black 1px solid;
    margin-right: 10px;
    width: 75%;
    height: auto;
    ;
}

img {
    border: black 3px solid;
    margin-right: 10px;
    width: 200px;
    /* height: auto; */
}

audio {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

footer {
    background-color: #d3d4d5;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 5px 0px 5px;
}

thead th {
    /* display: inline-block; */
    padding: 20px 10px;
    outline: 4px red solid;

}

td {
    text-align: center;
    padding: 10px;
}